li{
    list-style: none;
}

.link{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 20px;
    color: #000;
    text-decoration: none;
}

.active{
    font-size: 24px;
    color: rgb(54, 94, 224);
}

